html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,ul,li,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol,ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: rgba(178, 178, 178, 0.468);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header{
    background-color: rgba(255, 255, 255, 0.653);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 430px;
    height: 180px;
    border: 2px solid #f5f5f5;
    border-radius: 4px;
    
}

ul{
    margin-left: 15px;
}

label {
    margin-left: 5px;
    cursor: pointer;
}
h2{
    margin: 15px;
    display: block;
    font-weight: bold;
}
#next {
    display: block;
    height: 38px;
    border: none;
    margin-top: 15px;
}
#next:hover{
    
    background-color: #00ff44ba;
}
#mybtn {
    display: none;
    height: 38px;
    border: none;
    margin-top: 15px;
}
#mybtn:hover{
    
    background-color: #00ff44ba;
}

